@charset "UTF-8";

/* estilo para impressora = ctrl + p */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso durante a prática de Ruth através do cursoemvideo.com';
}