@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
        background-color: rgb(236, 254, 130);
        margin: 0px;
}

header {
        background-image:linear-gradient(to top, #036418, #0c952a,#0bd136, #1bff4c);
        padding: 30px;
        margin: 0px;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 1px  1px 2px rgba(0, 0, 0, 0.596);

} 


h4 {
    color: white;
    text-align: center;
    text-shadow: 1px  1px 2px rgba(0, 0, 0, 0.596);
    border-radius: 5px 5px;
}

h2 {
    font-family: 'idroid';
    margin: auto;
}

h3  {
    font-family: 'idroid';
    color: rgba(6, 88, 18);
    background-color: rgba(45, 249, 75, 0.66);
}

p {
    text-align: justify;
    text-indent: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}

a:hover {
    background-color: #52e873;
}

main {
        background-color: white;
        padding: 12px;
        margin: 60px;
        margin-top: 0px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.22);
}

article {
        background-color: rgb(255, 255, 255);
        padding: 10px;
}

.dm {
    color: rgba(6, 88, 18); 
    background-color: rgba(45, 249, 75, 0.66);
    text-decoration: none;
}

.in {
    color: rgba(6, 88, 18); 
    background-color: rgba(45, 249, 75, 0.66);
    text-decoration: none;
}

.dd {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    
}

.vv {
    background-color: #1A5C38;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.qq {
    text-align: left;
    color: white;
    background-color: #2FA866;
    padding: 10px;
}

.ww {
    background-color: #C5EBD6;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.178);
    border-radius: 3px 3px 3px 3px;
}

.ww > a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
 
}

.ww > a:hover {
    text-decoration: underline;
} 