@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768 até 992
Desktop: de 992 até 1200px
Grandes telas: acima de 1200px
*/

* {
    font-family: 'Courier New', Courier, monospace;
}

@media print { /* Impressão */
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessário */
        
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita por Ruth através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    img#phone {display: none; }
    img#tablet {display: none; }
    img#impresso {display: block; }
    img#note {display: none; }
    img#tv {display: none; }
}

@media  screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none; }
    img#tablet {display: block; }
    img#impresso {display: none; }
    img#note {display: none; }
    img#tv {display: none; }
}

@media  screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none; }
    img#tablet {display: none; }
    img#impresso {display: none; }
    img#note {display: block; }
    img#tv {display: none; }
}

@media  screen and (min-width: 1200px) { /*grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none; }
    img#tablet {display: none; }
    img#impresso {display: none; }
    img#note {display: none; }
    img#tv {display: block; }
    
}